*{
    scroll-behavior: smooth;
}
.cdn{
            width: 100%;
            display:flex;
            padding-left: 50px;
            height: auto;
}
.cdns{
     width: 100%;
    display:flex;
    justify-content: center;
    height: auto;
}
.cdno{
    width: 100%;
}
.my{
    transform: skew(10deg, 10deg) scale(1);
    transition: font-size 3s ease-in 2s, background-color 2s linear ;
}
.sswss{
    animation: sas  linear 5s infinite alternate;
}
.my:hover{
    font-size: 100px;
    background-color: black;
}
@keyframes sas{
    0%{
        color: red;
        transform: rotate(0deg);
    }
    100%{
        color: whitesmoke;
        transform: rotate(360deg);
    }
}
        .ss{
            opacity: 100%;
            width: 100%;
            height: auto;
            background-image: linear-gradient(to left, rgba(0, 0, 0, 0.655),rgba(0, 0, 0, 0.755)) , url(./assets/back.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .dd{
            height: 100px;
        }
        .btns{
            background-color: red;
        }
        .btns:hover{
            background-color: rgb(228, 18, 18);
        }
        
        .di{
            display: flex;
            width: 100%;
            height: 300px;
            gap: 40px;
            overflow-x: scroll;
            overflow-y: hidden;
        }
        .do{
            width: 100%;
        }
        .tt{
            position: relative;
            bottom: 85px;
        }
        .ms{
            background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.521)), url(assets/tokilla2.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .mm{
            background-image: url(assets/tokilla.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .coo{
            background-color: rgb(221, 1, 1);
            height: 230px;
            width: 250px;
        }
.ff{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0),rgb(0, 0, 0)), url(assets/tokilla2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width:auto;
}
.ffl{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0),rgb(0, 0, 0)), url(assets/wednesday2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
}
.f{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0),rgb(0, 0, 0)), url(assets/devil2.png);
    height: auto;
    width: auto;
}
.l{
    background-color: black;
    height: auto;
    width: auto;
}
.g{
    margin-top: 160px;
}
.s{
    display: flex;
}
.gh{
    margin-top: 250px;
}
.wl{
    width: 400px;
}
.h{
    margin-top: 200px;
}
.ul{
    list-style-type: none;
}
li{
    margin-bottom: 10px;
    margin-left: 80px;
}